@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url("./assets/FiraSansCondensed-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
  body
  {
    font-family: 'Fira Sans Condensed', sans-serif;
    background-image: url("../assets/img/bg.jpg");
    background-origin: border-box;
    background-position: top;
    background-size: cover;
  }
}

@layer components
{
  .btn
  {
    @apply mx-1 py-1 px-4 border-2 rounded-lg dark:border-slate-900 dark:bg-slate-800 active:scale-95
  }

  .btn--blue 
  {
    @apply bg-blue-500 border-blue-500 dark:bg-blue-500 dark:border-blue-500
  }

  .footer
  {
    @apply hidden sm:grid overflow-hidden items-center sm:items-start sm:justify-center sm:mt-8 dark:text-white text-center
  }  

  .todo--container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
}